# Required for AI-powered semantic classification & summaries
GEMINI_API_KEY=

# Slack Application Credentials
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=

# The host URL where this application resides (useful for Slack event callback)
APP_URL=http://localhost:3000
